*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
h1{
    text-align: center;
    margin: 12px 0px;

}
.container{
    /* justify-content: center; */
    min-height: 77vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 12px 0px;
}
.myForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.myInput{
    display: block;
    width: 40%;
    padding: 9px;
    margin: 8px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 12px;
    outline: none;

}
.btn{
    padding: 8px 16px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    color: aliceblue;
    background-color: red;
    cursor: pointer;
    outline: none;
    margin: 26px;
}